DATABASE_URL="postgresql://postgres:123456@localhost:5432/social_db"

JWT_ACCESS_SECRET=abc123
JWT_REFRESH_SECRET=xyz456

ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d

EMAIL_USER=tuananh3505@gmail.com
EMAIL_PASS=krrhyrzpjkpcsskf
